<h1>Name :</h1>
<%= @cocktail.name %>
<% @cocktail.doses.each do |dose| %>
<h3>Description :</h3>
<p><%= dose.description %></p>
<h3>Name :</h3>
 <p> <%= dose.ingredient.name %></p>
 <%= link_to "ðŸ—‘ï¸", cocktail_dose_path(@cocktail, dose), method: :delete %>
<% end %>
<br>
<%= link_to "add dose",  new_cocktail_dose_path(@cocktail) %>
<%= link_to "back", cocktails_path %>


<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> ðŸŽ‰ you successfully signed in to our service.</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
